@using Microsoft.AspNetCore.Http;
<ul class="">
    @if (@Context.Session.GetString("role") == "admin")
    
        {
            <li>
                <a class="" asp-controller="bookcat" asp-action="Index">

                    <span class="">Add Book Category</span>
                </a>
            </li>


            <li>
                <a class="" asp-controller="book" asp-action="Index">

                    <span class="">Add Book</span>
                </a>

            </li>

        }



    </ul>